body {
    background-color: aqua;
    padding: 20pt;
}
.all {
background-color: aliceblue;
display: flex;
justify-content: flex-end;
border-radius: 20pt;

}
.seringa {
display: flex;
flex-direction: column;
align-items: center;
margin-inline: 10%;
margin-block: 10pt;
}

.retangulo {
    background-color: #C1CDCD;
    width: 340pt;
    height: 180pt;
    /* margin-bottom: 30px; */
}
.texto {
    display: flex;
    flex-direction: column;
    margin-inline-end: 8pt;
    gap: 10pt;

}
.linhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 8pt;
    gap: 15pt;
    /* writing-mode: vertical-rl; */
}
.linha {
    height: 2px;
    width: 30px;
    background-color: black;
}
#linha-maior {
    height: 2px;
    width: 40px;
    background-color: black;
}
#tubo {
    border-radius: 25pt;
    width: 55pt;
    height: 280pt;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #40E0D0;
    border-width: 10pt;
    border-style: solid;
    border-color: #C1CDCD;
    justify-content: center;
    padding: 10pt;
    gap: 10pt;
}

#agulha {
    width: 10pt;
    height: 60pt;
    border-top-right-radius: 40pt;
}
#puxador-1 {
    height: 30pt;
    width: 15pt;   
}
#puxador-2 {
    width: 60pt;
    height: 10pt;
    border-radius: 40pt;
}

